/* #region Вспомогательные компоненты */

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
}

/* #endregion Вспомогательные компоненты*/

/* #region Вспомогательные классы*/

.address {
	max-width: 240px;
	width: 100%;
	font-size: 18px;
	line-height: 135%;
	font-style: normal;
}

.aligned-text {
	display: block;
}

.aligned-text-left {
	text-align: left;
	line-height: 115%;
}

.aligned-text-center {
	text-align: center;
}

.aligned-text-right {
	text-align: right;
}

.no-letter-spacing {
	letter-spacing: normal;
}

.letter-spacing-extended {
	display: inline-block;
	letter-spacing: 60px;
}

.no-wrap {
	white-space: nowrap;
}

.no-bullit {
	list-style: none;
}

.link-active {
	text-decoration: none;
}
/* #endregion Вспомогательные классы*/

/* #region Header */

body {
	font-family: "Raleway", "Arial", sans-serif;
	color: #000;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.content {
	max-width: 1440px;
	margin: 0 auto;
}

.header {
	display: grid;
	grid-template-columns: 1fr 148px 1fr;
	align-items: center;
	padding: 92px 49px 92px 51px;
}

.header__menu {
	max-width: 388px;
	width: 100%;
}

.header__links-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 32px;
	list-style: circle;
	font-size: 18px;
}

.header__link {
	text-transform: lowercase;
	text-underline-offset: 5px;
	transition: text-underline-offset 0.3s ease;
}

.address__link {
	text-transform: lowercase;
	text-underline-offset: 3px;
	transition: text-underline-offset 0.3s ease;
}

.header__link:hover {
	text-underline-offset: 7px;
}

.header__logo {
	display: block;
	justify-self: center;
}

.header__logo-image {
	max-height: 100%;
	object-fit: contain;
}

.header__logo:hover {
	transform: scale(1.03);
	cursor: pointer;
}

.header__address {
	justify-self: end;
}

/* #endregion Header */

/* #region Cover */

.cover {
	position: relative;
	z-index: 1;
	color: #fff;
	background-image: url("../images/cover.jpg");
	background-repeat: no-repeat;
	background-color: #000000;
	background-position: center;
	background-size: cover;
	padding-top: 165px;
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: 180px;
}

.cover__title {
	font-size: 100px;
	font-weight: 700;
	letter-spacing: 30px;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	line-height: 100%;
	margin-bottom: 135px;
}

.cover__description {
	display: flex;
	justify-content: flex-end;
	align-items: baseline;
	column-gap: 80px;
}

.cover__description-text {
	color: #fff;
	text-align: center;
	font-size: 22px;
	font-weight: 400;
	line-height: 127%;
	text-transform: uppercase;
	word-spacing: 18px;
	padding-bottom: 62px;
}

.bet-button {
	display: inline-block;
	border: 1px solid currentColor;
	color: #fff;
	text-align: center;
	font-family: "Raleway", "Arial", sans-serif;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
	padding: 12px 32px;
	background: transparent;
	transition: transform 0.3s ease;
	cursor: pointer;
}

.bet-button:hover {
	transform: scale(1.03);
}

/* #endregion Cover */

/* #region Lots */

.lots {
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: 180px;
}

.lots__heading {
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	margin-left: 40px;
	margin-bottom: 27px;
}

.lots__cards-list {
	display: grid;
	gap: 25px;
	grid-template-columns: repeat(3, 1fr);
	list-style: none;
	margin-bottom: 30px;
}

.card-link {
	display: block;
	color: #fff;
	width: 100%;
	height: 100%;
	text-underline-offset: 3px;
	transition: text-underline-offset 0.3s ease;
	text-decoration: none;
}

.card-link:hover {
	text-underline-offset: 7px;
}

.card {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 50px 40px;
	max-width: 430px;
	width: 100%;
	min-height: 450px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: #a7a7a7;
}

.card-film {
	background-image: url("../images/card-lot-01.jpg");
}

.card-book {
	background-image: url("../images/card-lot-02.jpg");
}

.card-picture {
	background-image: url("../images/card-lot-03.jpg");
}

.card__title {
	max-width: 350px;
	width: 100%;
	font-size: 22px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
	text-decoration-line: underline;
	text-transform: uppercase;
}

.card__text {
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
}

.lots__look-more-link {
	display: inline-block;
	text-underline-offset: 5px;
	transition: text-underline-offset 0.3s ease;
	margin-left: 40px;
}

.lots__look-more-link:hover {
	text-underline-offset: 7px;
}

/* #endregion Lots */

/* #region About */

.about {
	display: grid;
	grid-template-columns: 430px 1fr;
	column-gap: 25px;
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: 181px;
}

.about__logo {
	max-width: 240px;
	width: 100%;
	height: 240px;
	margin-left: 95px;
	display: flex;
	border-radius: 50%;
	background-color: #000;
}

.about__image {
	margin: auto;
	width: 148px;
	height: 114px;
	object-fit: contain;
}

.about__title {
	padding-top: 102px;
	padding-bottom: 100px;
	font-weight: 700;
	font-size: 40px;
	line-height: normal;
	text-transform: uppercase;
}

.about__text {
	max-width: 885px;
	width: 100%;
	font-weight: 400;
	font-size: 20px;
	line-height: normal;
}

.about__text:not(:last-of-type) {
	margin-bottom: 25px;
}

/* #endregion About */

/* #region Footer */

.footer {
	display: flex;
	justify-content: space-between;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 90px;
}

.footer__menu-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style: none;
	font-size: 18px;
}

.footer__menu-link {
	text-underline-offset: 5px;
	transition: text-underline-offset 0.3s ease;
}

.footer__menu-link:hover {
	text-underline-offset: 7px;
}

.footer__social-list {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 240px;
	width: 100%;
	gap: 20px 48px;
}

.footer__social-link {
	display: block;
	width: 48px;
	height: 48px;
	transition: transform 0.3s ease;
}

.footer__social-link:hover {
	transform: translateY(-3px);
}

/* #endregion Footer */
